.sidebar {
  border: 0;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  width: clamp(300px, 30%, 400px);
  right: 0;
  height: 100vh;
  z-index: 10;
  color: white;
  display: none;
}

.title {
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.cartInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 2em;
}
.preview {
  height: 6em;
}

.quantityContainer {
  display: flex;
  gap: 0.8em;
}

.quantityButton {
  width: 1.5em;
}

.total {
  font-weight: bold;
  font-size: larger;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.closebtn,
.checkout {
  border: 0;
  padding: 0.3em 2em;
  border-radius: 6px;
}

.closebtn:hover,
.checkout:hover {
  color: rgb(236, 92, 92);
}
