footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 2.1em;
}

li {
  cursor: pointer;
}
