@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

:root {
  --ff-primary: 'Poppins', sans-serif;
}

.sidebar {
  width: clamp(300px, 30%, 400px);
}

@media screen and (max-width: 639px) {
  .sidebar {
    width: clamp(200px, 20%, 300px);
  }
}

.products-container {
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
}
